In [345]:
import sys
!"{sys.executable}" -m pip install torch torchvision torchaudio
print(sys.executable)

Requirement already satisfied: torch in c:\users\garvi\anaconda3\lib\site-packages (2.7.1)
Requirement already satisfied: torchvision in c:\users\garvi\anaconda3\lib\site-packages (0.22.1)
Requirement already satisfied: torchaudio in c:\users\garvi\anaconda3\lib\site-packages (2.7.1)
Requirement already satisfied: filelock in c:\users\garvi\anaconda3\lib\site-packages (from torch) (3.13.1)
Requirement already satisfied: typing-extensions>=4.10.0 in c:\users\garvi\anaconda3\lib\site-packages (from torch) (4.11.0)
Requirement already satisfied: sympy>=1.13.3 in c:\users\garvi\anaconda3\lib\site-packages (from torch) (1.14.0)
Requirement already satisfied: networkx in c:\users\garvi\anaconda3\lib\site-packages (from torch) (3.3)
Requirement already satisfied: jinja2 in c:\users\garvi\anaconda3\lib\site-packages (from torch) (3.1.4)
Requirement already satisfied: fsspec in c:\users\garvi\anaconda3\lib\site-packages (from torch) (2024.6.1)
Requirement already satisfied: setuptools in c:\users\garvi\anaconda3\lib\site-packages (from torch) (75.1.0)
Requirement already satisfied: numpy in c:\users\garvi\anaconda3\lib\site-packages (from torchvision) (1.26.4)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in c:\users\garvi\anaconda3\lib\site-packages (from torchvision) (10.4.0)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in c:\users\garvi\anaconda3\lib\site-packages (from sympy>=1.13.3->torch) (1.3.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\garvi\anaconda3\lib\site-packages (from jinja2->torch) (2.1.3)
C:\Users\garvi\anaconda3\python.exe

In [346]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

In [347]:
df=pd.read_csv('hdfc.csv')
df.drop(columns=['Adj Close'],inplace=True)
df.head()

         Date   Open   High    Low  Close    Volume
0  1996-01-01  3.030  3.030  2.925  2.980  350000.0
1  1996-01-02  2.980  3.025  2.950  2.975  412000.0
2  1996-01-03  2.975  2.995  2.950  2.985  284000.0
3  1996-01-04  2.985  2.980  2.940  2.965  282000.0
4  1996-01-05  2.965  2.980  2.950  2.960  189000.0

In [348]:
cols=list(df.columns)
df=df[cols[0:2]+[cols[4]]+cols[2:4]+[cols[5]]]
df.head()

         Date   Open  Close   High    Low    Volume
0  1996-01-01  3.030  2.980  3.030  2.925  350000.0
1  1996-01-02  2.980  2.975  3.025  2.950  412000.0
2  1996-01-03  2.975  2.985  2.995  2.950  284000.0
3  1996-01-04  2.985  2.965  2.980  2.940  282000.0
4  1996-01-05  2.965  2.960  2.980  2.950  189000.0

In [349]:
#bollinger bands strategy
def calculate_ema(series,span):
    return series.ewm(span=span, adjust=False).mean()
df['EMA12']=calculate_ema(df['Close'],12)
df['EMA26']=calculate_ema(df['Close'],26)
df['MACD']=df['EMA12']-df['EMA26']
df['Signal_Line']=calculate_ema(df['MACD'],9)
def macd_signal(row):
    if row['MACD'] > row['Signal_Line']:
        return 2
    elif row['MACD'] < row['Signal_Line']:
        return 0
    else:
        return 1
df['MACD_signal']=df.apply(macd_signal,axis=1)
df['next_day_return']=(df['Close'].shift(-1)-df['Close'])/df['Close']
df.head()

,Date,Open,Close,High,Low,Volume,EMA12,EMA26,MACD,Signal_Line,MACD_signal,next_day_return
0,1996-01-01,3.030,2.980,3.030,2.925,350000.0,2.980000,2.980000,0.000000,0.000000,1,-0.001678
1,1996-01-02,2.980,2.975,3.025,2.950,412000.0,2.979231,2.979630,-0.000399,-0.000080,0,0.003361
2,1996-01-03,2.975,2.985,2.995,2.950,284000.0,2.980118,2.980027,0.000091,-0.000046,2,-0.006700
3,1996-01-04,2.985,2.965,2.980,2.940,282000.0,2.977792,2.978914,-0.001122,-0.000261,0,-0.001686
4,1996-01-05,2.965,2.960,2.980,2.950,189000.0,2.975055,2.977513,-0.002458,-0.000700,0,-0.011824

In [350]:
def calculate_bb(df,period=20):
    df['SMA']=df['Close'].rolling(window=period).mean()
    df['STD']=df['Close'].rolling(window=period).std()
    df['Upper_band']= df['SMA']+2*df['STD']
    df['Lower_band']= df['SMA']-2*df['STD']
    return df

In [351]:
def bb_strategy(row):
    close=row['Close']
    upper=row['Upper_band']
    lower=row['Lower_band']
    if pd.isna('upper') or pd.isna('lower'):
        return 0

    if close<upper:
        return 0
    elif lower>close:
        return 2
    else:
        return 1

In [352]:
df=calculate_bb(df,period=20)
df['bb_signal']=df.apply(bb_strategy,axis=1)
df.head()

,Date,Open,Close,High,Low,Volume,EMA12,EMA26,MACD,Signal_Line,MACD_signal,next_day_return,SMA,STD,Upper_band,Lower_band,bb_signal
0,1996-01-01,3.030,2.980,3.030,2.925,350000.0,2.980000,2.980000,0.000000,0.000000,1,-0.001678,NaN,NaN,NaN,NaN,1
1,1996-01-02,2.980,2.975,3.025,2.950,412000.0,2.979231,2.979630,-0.000399,-0.000080,0,0.003361,NaN,NaN,NaN,NaN,1
2,1996-01-03,2.975,2.985,2.995,2.950,284000.0,2.980118,2.980027,0.000091,-0.000046,2,-0.006700,NaN,NaN,NaN,NaN,1
3,1996-01-04,2.985,2.965,2.980,2.940,282000.0,2.977792,2.978914,-0.001122,-0.000261,0,-0.001686,NaN,NaN,NaN,NaN,1
4,1996-01-05,2.965,2.960,2.980,2.950,189000.0,2.975055,2.977513,-0.002458,-0.000700,0,-0.011824,NaN,NaN,NaN,NaN,1

In [353]:
def calculate_rsi(df,period=14):
    delta=df['Close'].diff()
    gain= delta.where(delta>0,0.0)
    loss= -delta.where(delta<0,0.0)
    avg_gain = gain.rolling(window=period).mean()
    avg_loss = loss.rolling(window=period).mean()
    rs = avg_gain / avg_loss
    rsi = 100 - (100 / (1 + rs))
    df['RSI'] = rsi
    return df

In [354]:
def rsi_strategy(row):
    if row['RSI']>70:
        return 0
    elif row['RSI']<30:
        return 2
    else:
        return 1

In [355]:
df=calculate_rsi(df,period=14)
df['rsi_signal']=df.apply(rsi_strategy,axis=1)
df.head()

,Date,Open,Close,High,Low,Volume,EMA12,EMA26,MACD,Signal_Line,MACD_signal,next_day_return,SMA,STD,Upper_band,Lower_band,bb_signal,RSI,rsi_signal
0,1996-01-01,3.030,2.980,3.030,2.925,350000.0,2.980000,2.980000,0.000000,0.000000,1,-0.001678,NaN,NaN,NaN,NaN,1,NaN,1
1,1996-01-02,2.980,2.975,3.025,2.950,412000.0,2.979231,2.979630,-0.000399,-0.000080,0,0.003361,NaN,NaN,NaN,NaN,1,NaN,1
2,1996-01-03,2.975,2.985,2.995,2.950,284000.0,2.980118,2.980027,0.000091,-0.000046,2,-0.006700,NaN,NaN,NaN,NaN,1,NaN,1
3,1996-01-04,2.985,2.965,2.980,2.940,282000.0,2.977792,2.978914,-0.001122,-0.000261,0,-0.001686,NaN,NaN,NaN,NaN,1,NaN,1
4,1996-01-05,2.965,2.960,2.980,2.950,189000.0,2.975055,2.977513,-0.002458,-0.000700,0,-0.011824,NaN,NaN,NaN,NaN,1,NaN,1

In [356]:
def final_decision(row):
    signals=[row['MACD_signal'],row['bb_signal'],row['rsi_signal']]
    buy=signals.count(2)
    sell=signals.count(0)
    if buy>sell:
        return 2
    elif sell>buy:
        return 0
    else :
        return 1
df['final_signal'] = df.apply(final_decision, axis=1)
df.head()

,Date,Open,Close,High,Low,Volume,EMA12,EMA26,MACD,Signal_Line,MACD_signal,next_day_return,SMA,STD,Upper_band,Lower_band,bb_signal,RSI,rsi_signal,final_signal
0,1996-01-01,3.030,2.980,3.030,2.925,350000.0,2.980000,2.980000,0.000000,0.000000,1,-0.001678,NaN,NaN,NaN,NaN,1,NaN,1,1
1,1996-01-02,2.980,2.975,3.025,2.950,412000.0,2.979231,2.979630,-0.000399,-0.000080,0,0.003361,NaN,NaN,NaN,NaN,1,NaN,1,0
2,1996-01-03,2.975,2.985,2.995,2.950,284000.0,2.980118,2.980027,0.000091,-0.000046,2,-0.006700,NaN,NaN,NaN,NaN,1,NaN,1,2
3,1996-01-04,2.985,2.965,2.980,2.940,282000.0,2.977792,2.978914,-0.001122,-0.000261,0,-0.001686,NaN,NaN,NaN,NaN,1,NaN,1,0
4,1996-01-05,2.965,2.960,2.980,2.950,189000.0,2.975055,2.977513,-0.002458,-0.000700,0,-0.011824,NaN,NaN,NaN,NaN,1,NaN,1,0

In [357]:
def evaluate_trade(row, future_window=5, threshold=0.02):
    try:
        idx = df.index.get_loc(row.name)
        current_price = row['Close']
        future_prices = df['Close'].iloc[idx+1 : idx+1+future_window]

        if len(future_prices) == 1:
            return 1  # not enough future data

        future_return = (future_prices.max() - current_price) / current_price
        future_drop = (future_prices.min() - current_price) / current_price

        if row['final_signal'] == 2 and future_return > threshold:
            return 2
        elif row['final_signal'] == 0 and future_drop < -threshold:
            return 0
        else:
            return 1
    except:
        return 1



df['target'] = df.apply(evaluate_trade, axis=1)
df.head()

,Date,Open,Close,High,Low,Volume,EMA12,EMA26,MACD,Signal_Line,...,next_day_return,SMA,STD,Upper_band,Lower_band,bb_signal,RSI,rsi_signal,final_signal,target
0,1996-01-01,3.030,2.980,3.030,2.925,350000.0,2.980000,2.980000,0.000000,0.000000,...,-0.001678,NaN,NaN,NaN,NaN,1,NaN,1,1,1
1,1996-01-02,2.980,2.975,3.025,2.950,412000.0,2.979231,2.979630,-0.000399,-0.000080,...,0.003361,NaN,NaN,NaN,NaN,1,NaN,1,0,0
2,1996-01-03,2.975,2.985,2.995,2.950,284000.0,2.980118,2.980027,0.000091,-0.000046,...,-0.006700,NaN,NaN,NaN,NaN,1,NaN,1,2,1
3,1996-01-04,2.985,2.965,2.980,2.940,282000.0,2.977792,2.978914,-0.001122,-0.000261,...,-0.001686,NaN,NaN,NaN,NaN,1,NaN,1,0,0
4,1996-01-05,2.965,2.960,2.980,2.950,189000.0,2.975055,2.977513,-0.002458,-0.000700,...,-0.011824,NaN,NaN,NaN,NaN,1,NaN,1,0,0

In [358]:
df['final_signal'].value_counts()[0]

4057

In [359]:
df['final_signal'].value_counts()[1]

2315

In [360]:
df['target'].value_counts()
df.head()

,Date,Open,Close,High,Low,Volume,EMA12,EMA26,MACD,Signal_Line,...,next_day_return,SMA,STD,Upper_band,Lower_band,bb_signal,RSI,rsi_signal,final_signal,target
0,1996-01-01,3.030,2.980,3.030,2.925,350000.0,2.980000,2.980000,0.000000,0.000000,...,-0.001678,NaN,NaN,NaN,NaN,1,NaN,1,1,1
1,1996-01-02,2.980,2.975,3.025,2.950,412000.0,2.979231,2.979630,-0.000399,-0.000080,...,0.003361,NaN,NaN,NaN,NaN,1,NaN,1,0,0
2,1996-01-03,2.975,2.985,2.995,2.950,284000.0,2.980118,2.980027,0.000091,-0.000046,...,-0.006700,NaN,NaN,NaN,NaN,1,NaN,1,2,1
3,1996-01-04,2.985,2.965,2.980,2.940,282000.0,2.977792,2.978914,-0.001122,-0.000261,...,-0.001686,NaN,NaN,NaN,NaN,1,NaN,1,0,0
4,1996-01-05,2.965,2.960,2.980,2.950,189000.0,2.975055,2.977513,-0.002458,-0.000700,...,-0.011824,NaN,NaN,NaN,NaN,1,NaN,1,0,0

In [361]:
df['final_signal'].value_counts()

final_signal
0    4057
1    2315
2     195
Name: count, dtype: int64

In [362]:
df.shape

(6567, 21)

In [363]:
df = df.dropna()

In [364]:
x_train,x_test,y_train,y_test=train_test_split(df.iloc[:,1:20],df.iloc[:,20], test_size=0.66)

In [365]:
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [366]:
x_train

array([[-0.74215755, -0.74124513, -0.74224213, ..., -1.76920643,
         2.22323532, -0.73723531],
       [ 1.32679374,  1.31507032,  1.30811142, ..., -2.16597187,
         2.22323532, -0.73723531],
       [ 0.2969967 ,  0.28524496,  0.28981586, ..., -2.26689256,
         2.22323532, -0.73723531],
       ...,
       [ 0.5468043 ,  0.55166316,  0.55516974, ..., -1.3344171 ,
         0.2041368 , -0.73723531],
       [-0.62805701, -0.62820031, -0.62896076, ..., -0.59545663,
         0.2041368 , -0.73723531],
       [-0.1873068 , -0.18207878, -0.18579725, ...,  0.82775434,
         0.2041368 ,  1.13031305]])

In [367]:
y_train

1279    0
5599    1
5107    1
6273    0
1926    1
928     1
1898    1
3161    1
139     0
4113    1
1540    1
4057    1
6249    0
653     1
2573    1
4996    1
6000    1
6171    1
1262    1
1913    1
755     1
2902    1
1405    1
4774    1
4629    1
1257    1
2548    0
5381    1
1627    0
4597    0
5797    1
4537    1
4887    1
5765    1
5853    1
1941    1
4759    1
150     0
3828    1
2388    1
2370    1
1464    1
369     1
5453    1
5106    0
6128    1
1030    0
1061    1
1057    1
3829    1
409     1
5944    0
5317    1
3728    1
850     1
3871    1
1957    1
1895    1
4215    1
5068    1
5815    1
633     0
1376    1
5330    1
2213    1
795     1
1563    1
1874    1
5709    0
484     0
1498    0
5299    1
2141    0
6193    0
3135    0
1584    1
3203    1
3913    0
2771    1
5312    1
1285    1
4432    0
2774    1
1927    0
35      0
703     1
5130    1
1277    0
3371    1
957     1
4673    0
4275    1
123     1
5182    1
1659    1
678     1
6456    1
4022    0
3525    1
5555    1
3140    0
524     0
657     1
5259    0
975     1
4626    1
6468    1
6342    0
1820    0
5621    1
1602    1
990     1
5549    1
173     1
2231    1
5100    1
5597    1
1888    1
4680    1
2523    2
1489    0
6452    1
5486    1
2349    0
4804    1
1743    1
5051    1
3757    1
5633    1
5402    1
4627    1
2595    1
5552    1
4381    1
4192    1
642     0
2712    1
5675    1
3903    1
852     1
394     1
3943    1
6449    1
4225    1
357     1
766     1
5821    1
2179    0
487     0
4674    1
3408    1
525     0
2990    0
5242    1
5436    1
5310    1
5175    1
365     0
6330    1
4729    1
5007    1
2776    1
3008    1
4814    1
4037    1
2887    0
3201    0
1909    1
2404    0
1273    0
3951    1
4940    1
3379    0
6234    1
4218    1
488     0
6446    1
5579    1
827     1
1929    1
5539    1
6421    1
1720    1
353     1
5893    1
142     0
887     1
4222    1
2271    1
101     1
5931    1
2728    1
2012    0
4784    1
6176    1
399     1
2623    1
2706    0
115     1
6403    1
5144    1
4123    1
4066    1
2741    1
6065    1
2086    1
5523    1
3285    0
906     0
1741    1
1009    1
5110    1
6370    0
3782    0
4421    1
3745    1
3015    1
5586    0
6315    1
404     1
2572    1
3916    1
6496    1
1945    1
3240    1
794     1
4476    1
1632    1
1534    1
5091    1
1990    1
1216    1
1882    0
5730    1
5807    1
2175    1
5747    1
5173    1
400     1
4157    1
5690    1
3319    1
2734    1
3035    1
1263    1
6094    0
599     1
2245    0
3389    1
4061    1
1480    1
3592    1
1432    0
3999    1
6504    1
3681    1
2020    1
1174    1
844     1
4942    1
6544    1
6331    1
3336    1
2575    1
2742    1
5760    1
2445    1
3791    1
5409    1
3144    0
6006    1
6096    0
2597    1
5550    1
933     0
3565    1
865     1
1748    2
5623    1
4765    1
4943    1
944     1
3147    0
3776    0
5519    1
5040    1
5983    1
5487    1
4795    1
3274    0
5596    1
740     0
4397    1
4320    1
6240    1
3335    1
117     1
2482    0
935     0
2260    1
5646    1
5027    1
5094    1
5252    1
1148    0
941     0
6233    1
438     1
4178    1
582     1
895     1
1832    1
5908    1
5014    1
1786    1
6269    1
3110    1
2268    1
5111    1
6099    0
3872    1
544     0
4156    1
6294    0
3244    1
6369    0
4703    1
3511    1
2897    1
219     1
6214    1
1730    1
1630    0
897     1
5625    1
601     1
5804    1
3098    0
2569    1
5693    1
929     1
6531    1
3570    0
3970    0
3889    1
226     1
2259    1
700     1
5867    1
2393    1
1774    1
2651    0
4750    1
6471    1
3569    1
476     1
1490    1
5809    1
1736    1
5301    1
5911    1
3830    1
1701    1
4121    0
2915    1
6412    1
2380    1
2946    1
3663    0
317     0
109     1
3063    0
6018    1
4897    1
3292    0
3474    1
3190    0
259     1
5585    0
5565    1
1665    1
1382    1
3295    0
5226    1
1549    1
2782    1
1568    1
5869    1
4153    1
2273    1
5006    1
2815    1
5097    0
5714    1
2653    1
3232    1
2310    1
2881    0
1323    1
4151    1
6276    1
1461    1
486     0
5047    1
2966    1
3113    0
5137    1
6321    0
1989    1
4859    0
2880    0
2515    1
5257    1
2290    0
1930    0
4435    0
6087    1
1875    1
2664    1
3825    1
1643    0
189     1
1622    1
859     0
5357    1
4856    0
5790    1
3094    0
5545    1
3025    1
149     0
3234    1
3675    0
4980    0
4509    1
1952    1
5724    1
5079    0
6532    1
2555    0
3090    1
3818    0
1084    0
3795    1
2590    1
6248    0
6158    0
2642    1
5882    0
5529    1
6224    1
299     0
761     0
1547    1
1027    1
1445    1
5363    1
5289    1
2030    1
993     0
6137    1
396     1
5767    1
4326    1
958     1
1106    1
1207    1
2104    0
899     1
3413    0
2509    0
5819    1
1383    1
1903    1
5522    1
2031    1
6480    1
1304    1
4169    0
3877    1
4941    1
2254    1
94      1
4718    1
5619    1
4420    1
3554    1
1077    0
233     1
1857    1
3486    1
4483    0
2995    1
6550    1
679     1
3736    1
610     0
1793    1
4523    1
835     1
1441    1
2968    1
1062    1
6038    1
3902    0
2536    0
2687    0
6230    0
1861    1
5336    1
2695    0
5926    1
2748    1
603     1
4318    0
2951    1
4716    1
3154    1
2382    1
1636    0
720     0
1784    1
2431    1
6512    0
5584    0
2838    0
4410    0
4565    0
5984    1
2978    1
4007    1
5542    1
3956    1
5142    1
1229    0
4015    1
4934    1
5940    0
1703    1
5979    1
340     1
1715    1
3631    1
4810    1
746     1
392     1
2640    1
4815    1
1807    0
441     1
6454    1
5315    1
1738    1
6132    1
122     1
4470    1
4119    0
4757    1
3752    1
5280    1
624     0
2209    1
6239    1
471     1
5435    1
1613    0
2907    1
6543    1
802     0
4383    1
1203    1
1397    1
418     0
3127    1
3130    1
141     0
1007    0
6419    1
5169    1
376     1
2316    1
1639    1
3891    1
3542    1
545     0
1232    0
455     1
5244    1
3666    0
2736    1
85      1
759     1
3932    1
3479    1
2215    1
4451    1
6549    1
1185    0
2710    1
2836    0
1964    0
2108    0
1120    1
221     1
538     1
1765    1
4767    1
183     1
1571    1
5104    0
1575    1
2937    1
6293    0
2128    1
531     1
1538    1
5961    1
235     1
5046    1
5224    1
4621    1
782     1
2699    0
1390    1
5531    1
626     0
2375    0
168     1
5954    1
6164    1
6211    1
5622    1
5614    1
391     1
4936    1
5661    1
2512    0
830     1
1573    1
4180    1
5272    1
6476    1
2123    0
4798    1
2181    0
4069    0
4544    1
5779    1
4424    1
5824    0
44      1
5122    1
4402    1
2037    1
48      0
638     0
1873    1
3320    1
1470    1
3507    1
637     0
3743    1
3009    1
2024    2
6311    1
1435    1
3822    0
6212    1
997     0
4406    1
1236    1
3516    1
5093    1
6001    1
1324    1
5353    1
4039    1
3521    1
2855    1
1626    1
4658    1
4853    1
580     1
1249    1
1048    0
4694    1
2058    1
1496    1
3030    1
5537    1
1984    1
6031    0
5390    2
1265    1
880     1
3482    0
1110    0
2802    1
2120    1
4561    2
2919    1
2800    1
5515    1
6539    1
344     1
1315    1
5269    1
2586    1
4559    1
1823    1
3924    1
3275    0
6080    1
2656    1
4662    1
574     1
1145    0
4950    1
3905    0
6028    1
5125    1
4474    0
3732    1
5441    1
1157    1
6066    0
5364    1
417     0
3388    1
2551    0
745     1
1616    1
4593    1
4349    0
6290    1
3775    0
5956    1
2516    0
4466    1
2873    1
5185    1
942     0
2488    1
5648    1
1427    1
3812    1
3208    0
660     2
1242    1
3695    1
1038    1
92      0
5183    1
5194    1
4731    1
5316    1
4683    1
1594    1
2895    1
2008    0
415     1
973     1
2786    0
6319    0
6175    1
5457    1
5553    1
2735    0
1599    1
6242    1
5556    1
102     1
6307    1
5003    1
4468    1
2751    1
6432    1
4220    0
5620    1
3263    1
286     1
1334    1
5834    1
2647    1
3706    1
2547    0
946     1
4496    0
1252    1
1871    0
2278    0
3721    1
1510    0
5468    1
2079    1
434     1
3680    1
6156    1
5656    0
4800    0
4968    0
428     0
3590    1
3337    1
3562    1
4027    1
3942    1
2177    0
1196    1
3694    1
923     1
405     1
289     1
4358    1
2520    1
1246    1
763     1
1200    1
3380    0
1054    1
5415    1
1521    1
1596    1
5458    1
5516    1
2257    1
5907    1
1088    1
1292    1
1267    1
736     0
4677    1
4388    1
1318    1
4909    1
4782    1
760     1
2965    1
5190    1
3678    1
6507    1
3107    0
1175    2
6159    0
6071    1
5873    0
2858    1
2106    0
1150    1
676     1
5856    1
1351    0
1834    1
3366    1
4182    0
6166    1
2998    0
623     0
6256    0
1467    1
1574    1
3461    0
2910    1
4028    1
1394    1
1830    1
3172    1
5957    1
988     1
4060    0
543     0
821     1
5581    1
6155    1
2038    1
6022    1
193     1
83      1
5133    1
4719    1
655     1
1268    0
5168    1
1085    0
5119    1
691     0
2669    1
3845    1
789     1
3936    1
5344    1
3557    1
3734    1
6473    1
5735    0
267     1
4824    1
1369    0
3221    1
4840    1
2116    1
231     1
4726    0
5385    1
1690    0
3861    1
2945    0
3992    0
5150    1
2358    1
2832    0
5376    0
5787    1
362     0
1782    1
6483    1
508     1
3445    1
1527    1
2045    0
6178    0
198     0
279     1
2557    1
1684    1
5490    1
1858    1
23      1
477     1
3886    1
5751    1
3892    1
2025    1
2677    1
6485    1
1660    1
5887    1
4501    1
1764    1
765     1
3286    0
3239    1
2692    0
3717    1
1080    0
32      1
4122    1
585     1
2980    1
1016    1
2746    1
5726    1
5057    1
4919    1
3436    0
2134    1
5081    1
4475    0
2454    1
2867    1
6371    1
499     1
711     0
6408    1
1226    1
3831    1
6310    1
6004    1
2747    1
3798    1
5865    1
1853    1
3314    0
393     1
1100    1
4118    0
6366    0
1778    0
912     1
5101    1
3684    1
4890    1
5180    1
2355    1
4490    0
6336    0
2428    1
5582    1
4688    1
2658    1
2761    1
2438    1
4356    1
1497    0
5210    1
1744    1
4249    1
6013    1
6513    0
4369    1
2801    1
618     1
2033    0
1142    1
2202    1
6177    1
510     1
893     0
764     1
5528    1
5300    1
2721    1
1011    1
5889    1
3360    1
5056    1
3432    1
5682    1
2621    1
2160    1
3786    0
3490    1
4797    1
1699    1
6082    1
6385    1
53      0
2633    1
2477    1
5378    1
4986    1
4448    1
4812    1
3781    0
2593    1
5600    1
5146    1
829     1
1791    1
5221    1
2791    1
4186    1
2246    0
1978    1
1688    0
2732    1
1887    0
858     1
5025    1
5783    1
968     1
4288    1
3965    1
3058    1
1258    1
1758    1
2096    1
3686    1
4414    1
3414    1
1168    1
2139    0
2650    0
2353    1
1087    1
562     1
5731    1
1760    0
5124    1
5098    1
5832    1
5836    1
383     0
6517    0
2884    0
3648    1
4503    1
4974    0
3740    1
1950    1
834     1
6092    0
5733    0
1484    0
625     0
2084    1
1392    1
3982    0
6339    1
4489    0
3739    1
807     0
772     1
1409    1
1479    1
2544    0
2476    2
977     1
2015    1
1416    1
341     1
955     1
5089    1
6435    0
3242    1
5318    1
2414    1
5176    1
4535    1
3028    1
4542    0
4913    1
809     0
2904    1
5309    1
2170    1
920     2
6313    1
3138    0
1692    0
249     1
3862    1
2417    1
1044    1
5981    1
3468    1
6252    1
2122    1
3282    0
3031    1
295     0
5968    1
3604    1
1431    0
2948    0
6199    1
5021    1
4883    1
1465    1
1732    1
3473    0
879     0
2798    1
4200    1
5028    1
1673    1
6358    1
46      0
5917    1
5195    1
2566    2
3026    1
892     1
3077    1
5358    1
6057    1
2469    1
4216    1
5637    1
5697    1
6415    1
869     0
2493    1
1747    1
4444    0
283     1
551     1
593     1
5780    1
2704    0
1693    0
3548    1
3587    1
1202    1
670     1
6564    1
3573    0
3819    0
4590    1
1604    1
1829    1
2750    1
640     1
517     1
167     1
73      1
3540    1
2035    0
2797    1
5975    1
5704    1
3697    1
5763    1
3551    1
6208    1
2717    1
5886    1
5360    1
5896    1
209     1
2713    1
6396    1
1652    1
6107    0
515     1
113     1
5410    1
2781    1
3591    1
3005    1
3543    1
6422    1
3497    1
5488    1
5671    1
4412    0
6027    1
3594    1
5591    1
4956    1
6334    1
3712    1
2667    1
323     0
1588    1
3073    1
5273    1
5151    1
3510    1
2616    1
5427    1
1306    1
2804    1
3750    1
2264    1
3167    1
2930    1
767     1
710     1
3735    1
98      0
2733    1
2648    1
3465    0
4516    1
3952    1
4752    1
6229    0
2340    1
5546    1
5518    1
3032    0
2052    1
2898    1
2963    1
5826    0
3566    1
5700    1
1283    0
1400    1
1839    1
3629    1
68      0
3774    0
1391    1
124     1
2857    1
3920    1
3405    1
401     1
6464    1
4323    1
3957    1
2649    0
6525    0
5103    0
5356    1
4540    0
3102    0
2072    1
1308    1
820     1
6413    1
493     1
2203    1
4699    1
4391    1
1248    1
4206    1
4808    1
2559    1
5123    1
3835    1
2040    1
1714    1
2638    1
596     1
5072    1
4860    1
126     1
3307    1
1083    0
4989    0
5229    1
3051    1
5472    1
1640    1
1058    1
4194    1
3771    0
82      1
2155    1
1972    1
2410    1
1590    1
2419    1
3394    1
3045    1
2996    0
3363    1
2296    0
6388    1
5593    1
4213    1
3993    0
5509    1
4706    1
298     0
2864    1
2463    1
2768    1
3020    1
1943    1
2676    1
1439    1
1128    1
5718    1
5204    1
4929    1
5711    1
2928    1
3810    1
3343    1
2514    1
4043    1
5811    1
1700    1
1976    1
5276    1
1286    1
2665    1
2626    1
6197    0
4525    1
4884    1
6174    1
5858    2
4978    0
6056    1
3816    1
218     1
5670    1
301     1
2958    1
5052    1
3704    1
3097    0
6562    1
2300    1
297     0
6112    0
6051    1
5909    1
3173    1
3131    1
1698    0
1621    0
1182    1
6058    1
1112    0
2425    1
5320    1
5988    1
4376    1
1963    0
3817    1
5136    1
3972    1
1595    1
6519    0
2956    1
5077    0
1577    1
3055    0
2889    1
3841    0
5775    1
5323    1
5833    1
473     0
1266    1
5455    1
781     1
6012    1
6189    0
3670    0
4163    1
6407    1
3103    1
6346    0
431     1
5294    1
2811    1
1868    0
3687    1
3703    1
1137    0
1502    1
5362    1
5906    1
3911    0
1346    1
2282    1
1462    1
542     0
4722    0
2813    1
2066    1
6372    1
5872    0
3054    1
2906    1
1560    1
5200    1
3976    0
1466    1
2265    1
3790    1
718     0
4735    1
3532    0
6275    1
5982    1
529     0
5721    1
5033    0
2295    1
3187    0
4233    1
1474    1
3840    0
589     1
3368    1
1090    1
3746    1
4247    1
4107    1
4753    1
2010    0
2974    1
2912    1
6052    0
1478    1
1105    0
1734    1
3027    1
883     1
190     1
2532    0
2543    0
2770    0
1668    1
3330    1
2292    1
1753    0
607     1
843     1
4052    0
5679    1
2824    1
749     1
470     1
1905    1
505     1
6418    1
910     0
5976    1
3253    1
1669    1
171     1
3109    0
1606    1
2274    1
961     1
4469    1
534     1
4079    1
5610    1
5205    1
181     1
2337    1
6347    0
3773    0
824     1
1968    1
3811    1
3716    1
1506    1
5571    1
2127    1
1389    1
1733    1
1592    1
3003    1
2924    0
1374    1
606     0
5947    1
5031    0
1849    1
4985    1
6537    1
4617    1
1039    0
2496    1
5734    0
6362    0
2987    1
5574    2
916     1
1333    1
3581    1
2991    0
2565    1
4467    1
5686    1
4360    1
4555    1
6560    1
4181    1
3412    0
135     1
5479    1
6436    0
2006    1
1256    1
1198    0
3961    0
152     1
5502    1
2028    0
1869    0
1522    1
3985    1
5674    1
509     1
696     1
1042    1
1059    2
1402    1
2982    1
3091    1
645     1
4473    0
3701    0
4524    1
4958    1
5816    1
914     1
2567    1
1667    1
2173    1
3596    1
4596    0
5341    1
443     1
495     1
1340    0
3137    0
5563    1
5755    1
4242    1
4353    1
5668    1
1280    0
304     1
4072    1
5606    1
848     1
3837    1
2812    1
5702    1
6466    1
363     0
3780    0
3634    1
4953    1
4423    1
791     0
790     1
965     1
3204    0
5818    1
95      1
4534    1
4530    1
4801    1
6223    0
5510    1
4720    1
6367    0
2432    1
4939    1
2093    1
3801    1
805     0
560     1
3824    1
5496    0
4960    1
5247    1
4906    1
435     1
6081    1
5844    1
1179    1
3485    0
705     2
84      1
995     0
2394    1
1958    1
1332    1
885     1
4109    1
673     0
5717    1
3499    1
187     1
77      1
4678    0
5964    1
5925    1
5249    1
5290    1
5393    1
6316    0
4231    1
3799    1
4582    1
5260    0
4511    1
3945    0
583     1
2682    1
6040    1
6150    1
5801    1
1124    1
432     1
2000    1
1158    1
6077    1
4322    1
2391    1
5777    1
1022    1
5313    1
3259    1
2988    1
6508    1
6526    1
1810    1
1328    1
5615    1
1165    1
3029    1
1567    1
3467    1
6547    1
309     0
4013    0
5687    1
4539    1
47      0
3644    1
1417    0
5166    1
4024    1
6103    0
2784    1
4954    1
4714    1
5748    1
2723    0
3151    1
1347    1
5268    1
196     0
3593    1
3935    1
6076    1
5782    1
2366    1
2338    1
65      1
2600    1
2405    0
5580    1
211     2
5211    1
1825    1
5644    1
6467    1
245     1
1605    1
5860    1
6401    1
180     1
421     1
3421    1
4695    1
6368    0
2327    0
5412    1
1737    1
1485    0
2166    1
5203    1
734     0
3804    1
3246    1
4065    1
5998    1
4538    1
6322    1
3849    0
6533    1
959     1
5742    1
3279    0
5011    1
4460    1
1032    1
5547    1
3383    1
799     0
5108    1
1781    0
5373    1
2870    1
5208    1
5055    1
4067    0
555     1
2236    1
4711    1
3079    1
2097    1
5729    1
5728    1
3955    1
1366    1
5440    1
3420    0
5459    1
6098    0
875     1
229     1
6378    1
5321    1
2163    1
5345    1
4692    1
5470    0
1240    1
261     1
6538    1
1637    0
6130    1
6188    0
6423    1
2287    1
3896    1
729     0
3571    0
3206    0
103     1
5413    1
2780    1
5365    1
2253    1
4350    1
1327    1
6219    1
2601    1
1956    1
290     1
2644    1
4359    1
3586    1
3568    1
4368    1
328     1
3069    1
5640    1
5078    0
3229    1
2973    1
590     1
2893    1
4945    1
246     1
234     1
1773    0
847     1
744     1
5061    1
2727    1
938     1
971     1
4545    1
5026    1
5645    1
6469    1
4579    1
1740    1
5892    1
1149    0
3492    1
2430    1
932     0
4849    1
1852    1
5980    1
1036    0
368     1
1072    0
533     1
4427    1
2890    1
5997    1
5369    1
4179    1
5885    1
4374    1
3714    1
6055    0
2872    1
1227    1
699     1
3276    0
6431    1
5475    1
4907    1
2499    0
960     1
5825    0
2674    1
1343    1
2487    1
3392    1
5245    1
3527    1
4828    1
2697    0
2285    1
280     0
6194    0
3099    1
3858    1
371     1
3585    1
6246    1
5335    1
3384    1
1031    1
4851    1
5029    1
1856    1
238     0
1317    1
565     0
4908    1
1686    0
4944    1
3148    1
1967    0
554     1
863     0
3489    1
3662    0
4441    1
3561    1
3574    0
4707    0
3423    0
3954    1
3864    1
986     1
2661    1
4237    0
1959    1
287     1
41      0
6541    0
1939    1
4221    0
1025    1
3150    1
6383    1
5099    1
4204    1
872     1
208     1
1178    0
6425    1
4058    1
5839    1
1655    1
3595    1
131     1
2670    0
627     0
2465    0
1611    0
2511    0
2019    1
1843    1
1387    1
4585    1
2911    1
2485    1
4747    1
2940    1
5498    1
296     0
2455    1
5406    1
1134    1
3129    1
4566    1
4993    1
4000    1
3004    1
5578    1
2095    1
4573    1
6554    1
30      1
3100    1
5349    1
5258    0
907     1
2631    0
3733    1
2478    2
460     1
1325    1
4160    1
1093    1
3214    0
1846    0
650     1
1463    1
860     0
1826    1
3676    0
2091    1
577     1
512     1
3766    1
3722    1
5084    1
6165    1
3787    0
5228    1
1937    1
3315    1
756     1
5966    1
5236    1
3288    0
4519    1
2936    1
936     1
4667    1
4826    1
5001    1
5793    1
5263    1
5973    1
1335    1
2189    1
2740    1
5792    1
2769    0
5715    0
1140    0
5213    1

In [368]:
print("Unique values in df['target'] before splitting:", df['target'].unique())

Unique values in df['target'] before splitting: [1 0 2]

In [369]:
x_train_tensor=torch.from_numpy(x_train).float()
x_test_tensor=torch.from_numpy(x_test).float()
y_train_tensor = torch.from_numpy(y_train.to_numpy()).long()
y_test_tensor = torch.from_numpy(y_test.to_numpy()).double()

In [370]:
x_train_tensor

tensor([[-0.7422, -0.7412, -0.7422,  ..., -1.7692,  2.2232, -0.7372],
        [ 1.3268,  1.3151,  1.3081,  ..., -2.1660,  2.2232, -0.7372],
        [ 0.2970,  0.2852,  0.2898,  ..., -2.2669,  2.2232, -0.7372],
        ...,
        [ 0.5468,  0.5517,  0.5552,  ..., -1.3344,  0.2041, -0.7372],
        [-0.6281, -0.6282, -0.6290,  ..., -0.5955,  0.2041, -0.7372],
        [-0.1873, -0.1821, -0.1858,  ...,  0.8278,  0.2041,  1.1303]])

In [373]:
import torch
import torch.nn as nn
import torch.optim as optim
class MySimpleNN(nn.Module):
    def __init__(self, input_dim, output_dim=3):
        super(MySimpleNN, self).__init__()
        self.linear = nn.Linear(input_dim, output_dim)
        
    def forward(self, x):
        return self.linear(x)  # raw logits, no softmax

model = MySimpleNN(x_train_tensor.shape[1])
criterion = nn.CrossEntropyLoss()
optimizer = optim.Adam(model.parameters(), lr=0.01)

epochs = 30
for epoch in range(epochs):
    outputs = model(x_train_tensor)
    loss = criterion(outputs, y_train_tensor)

    optimizer.zero_grad()
    loss.backward()
    optimizer.step()

    print(f"Epoch {epoch+1}, Loss: {loss.item():.4f}")

Epoch 1, Loss: 1.2121
Epoch 2, Loss: 1.1876
Epoch 3, Loss: 1.1673
Epoch 4, Loss: 1.1487
Epoch 5, Loss: 1.1295
Epoch 6, Loss: 1.1100
Epoch 7, Loss: 1.0917
Epoch 8, Loss: 1.0748
Epoch 9, Loss: 1.0588
Epoch 10, Loss: 1.0432
Epoch 11, Loss: 1.0277
Epoch 12, Loss: 1.0127
Epoch 13, Loss: 0.9984
Epoch 14, Loss: 0.9848
Epoch 15, Loss: 0.9719
Epoch 16, Loss: 0.9595
Epoch 17, Loss: 0.9472
Epoch 18, Loss: 0.9352
Epoch 19, Loss: 0.9236
Epoch 20, Loss: 0.9124
Epoch 21, Loss: 0.9017
Epoch 22, Loss: 0.8914
Epoch 23, Loss: 0.8813
Epoch 24, Loss: 0.8714
Epoch 25, Loss: 0.8618
Epoch 26, Loss: 0.8525
Epoch 27, Loss: 0.8436
Epoch 28, Loss: 0.8349
Epoch 29, Loss: 0.8264
Epoch 30, Loss: 0.8181

In [374]:
print("Unique values in y_train:", y_train_tensor.unique())

Unique values in y_train: tensor([0, 1, 2])

In [375]:
model.eval()  # evaluation mode
with torch.no_grad():
    y_test_pred = model(x_test_tensor)
    y_test_pred_labels = torch.argmax(y_test_pred, dim=1)
from sklearn.metrics import accuracy_score

# Convert tensors to numpy arrays if needed
y_true = y_test_tensor.numpy()
y_pred = y_test_pred_labels.numpy()

accuracy = accuracy_score(y_true, y_pred)
print(f"Test Accuracy: {accuracy * 100:.2f}%")

Test Accuracy: 74.15%